dist: trusty
sudo: false
language: java
jdk:
  - openjdk7
cache:
  directories:
    - $HOME/.m2
script:
  - "echo '<settings><servers><server><id>sonatype-nexus-snapshots</id><username>${env.CI_DEPLOY_USERNAME}</username><password>${env.CI_DEPLOY_PASSWORD}</password></server></servers></settings>' > $HOME/settings.xml"
  - "[[ $TRAVIS_PULL_REQUEST == 'false' ]] && export MAVEN_PHASE=deploy || export MAVEN_PHASE=install"
  - "mvn $MAVEN_PHASE -B -U -s $HOME/settings.xml"
  - "mvn $MAVEN_PHASE -B -U -s $HOME/settings.xml -f platform -D javacpp.platform=linux-x86_64"
